# /home/kev/.dotfiles/.vim/plugged/vim-snippets/snippets/python.snippets
# /home/kev/.dotfiles/.vim/plugged/vim-snippets/UltiSnips/python.snippets
snippet indent
Indent is: `!v indent(".")`.
`!p vim.eval(indent("."))`
endsnippet

snippet p
print($1)
$0
endsnippet
